<% @page_title = "Welcome" + @user.username %>
<div class="User_Form">
  <h1>Welcome <%= @user.username %></h1>
  <% if flash[:alert] %>
    <div id="alert">
       <%= flash[:alert] %> 
    </div>
  <% end %>
  <div>
    These are the details we have about you! :)
  </div>
  <div>Name: <strong><%= @user.username %></strong></div>
  <div>Email: <strong><%= @user.email %></strong></div>
  <div>Access: <strong><%= @user.has_permit ? 'Granted :)' : 'Denied :(' %></strong></div>
  <p><%= link_to "Generate Report Now!", generate_report_url %></p>
  <p><%= link_to "Check Reports!", reports_url %></p>
</div>