<section id=home>
    <div class=container>
        <div class=row>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <div class="main-section">
                    <div class="item active">
                        <a href="/">
                            <%= image_tag('logo.png', alt: 'Surana Sanitations', width: 84, height: 84, itemprop: 'logo', class: 'logo') %>
                            </a>
                        <div>
                            <h1><span itemprop="name">Surana Sanitations</span></h1></div>
                            <h3>
                                <div>
                                    <span>House of Tiles, Sanitaryware and Plumbing Items.</span>
                                </div>
                            </h3>
                            <a href=/#products class="btn button-custom btn-custom-one see-list">See Product List </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id=brands>
    <div class=container>
        <div class="row text-center header">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type=fade-in-up>
                <h2><strong>BRANDS</strong> IN STORE</h2>
                <div class=line>
                    <hr/>
                </div>
            </div>
        </div>
        <div>
            <div id=clients class="owl-carousel owl-theme">
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://astralpipes.com/" rel="nofollow" target="_blank" title="Astral Pipes & Fittings" itemprop="url">
                        <%= image_tag('company-logos/astral.jpg', alt: 'Astral', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="https://www.cera-india.com/" rel="nofollow" title="CERA Sanitaryware & Fittings" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/cera.jpg', alt: 'Cera', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.jaquar.com/" rel="nofollow" title="Jaquar Sanitaryware & Bath Fittings" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/jaquar.jpg', alt: 'Jaquar', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.kisangroup.com/" rel="nofollow" title="Kisan Pipes & Fittings" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/kisan.jpg', alt: 'Kisan', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://niralisinks.com/" rel="nofollow" title="Nirali Sinks" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/nirali.jpg', alt: 'Nirali', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://prayagindia.com/" rel="nofollow" title="Prayag PTMT & CP Fittings" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/prayag.jpg', alt: 'Prayag', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://sudhakarpipes.com/" rel="nofollow" title="Sudhakar Pipes & Fittings" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/sudhakar.jpg', alt: 'Sudhakar', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://swastikaenterprises.com/" rel="nofollow" target="_blank" title="Swastika Manhole Covers" itemprop="url">
                        <%= image_tag('company-logos/swastika.jpg', alt: 'Swastika', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://ardexendura.com/" rel="nofollow" title="Ardex Grout Powder" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/ardex.jpg', alt: 'Ardex', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://ashirvad.com/" rel="nofollow" title="Ashirvad Pipes & Fittings" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/ashirvad.jpg', alt: 'Ashirvad', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.jaynasinks.com/" rel="nofollow" title="Jayna Sinks" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/jayna.jpg', alt: 'Jayna', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.johnson-tiles.com/" title="Johnson Tiles" rel="nofollow" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/johnson.jpg', alt: 'Johnson', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.laticreteindia.com/" rel="nofollow" title="Laticrete Cement" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/laticrete.jpg', alt: 'Laticrete', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.zolotovalves.com/" rel="nofollow" title="Zoloto Valves" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/zoloto.jpg', alt: 'Zoloto', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.parryware.in/" title="Parryware Sanitaryware" rel="nofollow" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/parryware.jpg', alt: 'Parryware', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.polytuf.co.in/" rel="nofollow" title="Polytuf PTMT & Bath Fittings" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/polytuf.jpg', alt: 'Polytuf', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.princepipes.com/" rel="nofollow" title="Prince Pipes & Fittings" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/prince.jpg', alt: 'Prince', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.seikobathfittings.com/" rel="nofollow" title="Seiko Fittings" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/seiko.jpg', alt: 'Seiko', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.shaktibath.com/" rel="nofollow" title="Shakti PTMT & CP Fittings" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/shakti.jpg', alt: 'Shakti', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.sintex-plastics.com/" rel="nofollow" title="Sintex Tanks" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/sintex.jpg', alt: 'Sintex', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.xen.co.in/" rel="nofollow" title="Xen Accessories" target="_blank" itemprop="url">
                        <%= image_tag('company-logos/xen.jpg', alt: 'Xen', class: 'company_logo', itemprop: 'logo', lazy: true) %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id=mission>
    <div class=container>
        <div class="row header">
            <div class="col-md-12 text-center">
                <h2>Our <strong>MISSION AND VISION</strong></h2>
                <div class=line>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <p>SURANA SANITATIONS COMPANY, A Company which endeavors to become a ONE STOP SOLUTION PROVIDER to all Your <b>Plumbing</b>, <b>Sanitary</b> & <b>CP Fittings</b> needs.</p>
                <p>Close to Completing Three Decades in the Plumbing & Sanitary Industry, Our Company is primarily engaged in Retail and Wholesale distribution of Tiles, Pipes, Fittings, Sanitary & other Hardware & Plumbing items.</p>
                <p>Thanks to Our Widespread Distribution and Supply Network that ensures prompt delivery of Products anywhere in India & enables us to Offer Highly Professional & Reliable Services at Competitive Prices.</p>
                <p>We judiciously combine the Flexibility & Responsiveness of a Small Company & Professionalism, Resourcefulness & Technological Support of a Large Company.</p>
                
                <p><h4>33 YEARS OF SERVICE</h4></p>
                <p>Since 1983, the Company has grown into a leading Retailer, Wholesaler and Stockist of wide range of Sanitary, Fittings, Bathroom Accessories, Plumbing and Spare Parts for Construction Of Houses in India. We are successfully engaged in offering a Wide Range of Products manufactured by Leading Brands in the World under One Roof.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <%= image_tag('success.png', alt: 'Surana Success Mantra', width: 300, lazy: true) %>
            </div>
        </div>
    </div>
</section>
<section id=products>
    <div class=container>
        <div class="row text-center header animate-in" data-anim-type=fade-in-up>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>TAKE A LOOK AT <strong>OUR PRODUCTS</strong></h2>
                <div class=line>
                    <hr/>
                </div>
            </div>
        </div>
        <div class=row id=starts>
            <div class="col-md-12 col-sm-12 col-xs-12 work-list">
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Water Heater" href=/water-heater>
                        <div class=featured-img>
                            <%= image_tag('products/water-heater.jpg', alt: 'Water Heater', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                        </div>
                        <h3>Water Heater</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Kitchen Sinks" href=/kitchen-sinks>
                        <div class=featured-img>
                            <%= image_tag('products/sink.jpg', alt: 'Kitchen Sinks', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Nirali</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jayna</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Chandini</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prayag</span></div>
                        </div>
                        <h3>Kitchen Sinks</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Water Tanks" href=/water-tank>
                        <div class=featured-img>
                            <%= image_tag('products/water-tank.jpg', alt: 'Water Tank', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Sintex</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Reno</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Renotuf</span></div>
                        </div>
                        <h3>Water Tanks</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Shower Enclosures" href=/shower-enclosures>
                        <div class=featured-img>
                            <%= image_tag('products/shower-enclosure.jpg', alt: 'Shower Enclosures', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                        </div>
                        <h3>Shower Enclosures</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Shower Panel" href=/shower-panels>
                        <div class=featured-img>
                            <%= image_tag('products/shower-panel.jpg', alt: 'Shower Panel', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Cera</span></div>
                        </div>
                        <h3>Shower Panel</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Steam Solutions" href=/steam-solutions>
                        <div class=featured-img>
                            <%= image_tag('products/steam-solutions.jpeg', alt: 'Steam Solutions', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                        </div>
                        <h3>Steam Solutions</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Bathroom Faucets" href=/bathroom-fittings>
                        <div class=featured-img>
                            <%= image_tag('products/bath-fittings.jpg', alt: 'Bath Fittings', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Cera</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Bright(Lion/BSP/Amar)</span></div>
                        </div>
                        <h3>Bathroom Faucets</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Bathroom Accessories" href=/bathroom-accessories>
                        <div class=featured-img>
                            <%= image_tag('products/bath-accessories.jpg', alt: 'Bath Accessories', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Bright(Lion/BSP/Amar</span>)</div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prayag</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Bathking</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Xen</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Seiko</span></div>
                        </div>
                        <h3>Bathroom Accessories</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Sanitaryware" href=/sanitaryware>
                        <div class=featured-img>
                            <%= image_tag('products/sanitaryware.jpg', alt: 'Sanitaryware', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Cera</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Parryware</span></div>
                        </div>
                        <h3>Sanitaryware</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="PVC Pipes & Fittings" href=/pvc-pipes-and-fittings>
                        <div class=featured-img>
                            <%= image_tag('products/pvc.jpg', alt: 'PVC Pipes & Fittings', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Sudhakar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prince</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Astral</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Nandi</span></div>
                        </div>
                        <h3>PVC Pipes & Fittings</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="SWR Pipes & Fittings" href=/swr-pipes-and-fittings>
                        <div class=featured-img>
                            <%= image_tag('products/swr.jpg', alt: 'SWR Pipes & Fittings', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Sudhakar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Astral</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prince</span></div>
                        </div>
                        <h3>SWR Pipes & Fittings</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="PPR Pipes & Fittings" href=/ppr-pipes-and-fittings>
                        <div class=featured-img>
                            <%= image_tag('products/ppr.jpg', alt: 'PPR Pipes & Fittings', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prince</span></div>
                        </div>
                        <h3>PPR Pipes & Fittings</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="HDPE Pipes & Fittings" href=/hdpe-pipes-and-fittings>
                        <div class=featured-img>
                            <%= image_tag('products/hdpe.jpg', alt: 'HDPE Pipes & Fittings', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Reliance</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Sri Tulsi</span></div>
                        </div>
                        <h3>HDPE Pipes & Fittings</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="CPVC Pipes & Fittings" href=/cpvc-pipes-and-fittings>
                        <div class=featured-img>
                            <%= image_tag('products/cpvc.jpg', alt: 'CPVC Pipes & Fittings', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Astral</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Ashirvad</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prince</span></div>
                        </div>
                        <h3>CPVC Pipes & Fittings</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="UPVC Pipes & Fittings" href=/upvc-pipes-and-fittings>
                        <div class=featured-img>
                            <%= image_tag('products/upvc.jpg', alt: 'UPVC Pipes & Fittings', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Kisan</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Astral</span></div>
                        </div>
                        <h3>UPVC Pipes & Fittings</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="GI Pipes & Fittings" href=/gi-pipes-and-fittings>
                        <div class=featured-img>
                            <%= image_tag('products/gi.jpg', alt: 'G.I Pipes & Fittings', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Oswal</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jindal</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">H.B</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Tata</span></div>
                        </div>
                        <h3>G.I Pipes & Fittings</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Brass Ball Valve" href=/brass-valves-and-fittings>
                        <div class=featured-img>
                            <%= image_tag('products/brass-valve.jpg', alt: 'Brass Valve', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Bright(Lion/BSP/Amar</span>)</div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Zoloto</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Peiro</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Super</span></div>
                        </div>
                        <h3>Brass Valves & Fittings</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Mirrors & Cabinets" href=/mirrors-and-cabinets>
                        <div class=featured-img>
                            <%= image_tag('products/mirror.jpg', alt: 'Mirrors & Cabinets', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prayag</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Sonata</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Cera</span></div>
                        </div>
                        <h3>Mirrors & Cabinets</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Bathtub" href=/bathtubs>
                        <div class=featured-img>
                            <%= image_tag('products/bathtub.jpg', alt: 'Bathtub', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Cera</span></div>
                        </div>
                        <h3>Bathtubs</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Tiles" href=/tiles>
                        <div class=featured-img>
                            <%= image_tag('products/tiles.jpg', alt: 'Tiles', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Johnson</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">ARDEX Endura</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Laticrete</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Somany</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">NITCO</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Kajaria</span></div>
                        </div>
                        <h3>Tiles & Grout</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="PTMT Fittings & Accessories" href=/ptmt-fittings>
                        <div class=featured-img>
                            <%= image_tag('products/ptmt.jpg', alt: 'PTMT', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prayag</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Shakti</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Polytuf</span></div>
                        </div>
                        <h3>PTMT Fittings</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="C.I Pipes & Fittings" href=/ci-pipes-and-fittings>
                        <div class=featured-img>
                            <%= image_tag('products/ci.jpg', alt: 'C.I Pipes & Fittings', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">P.I.C</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">SON</span></div>
                        </div>
                        <h3>C.I Pipes & Fittings</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="C.I Manhole Cover" href=/ci-manhole-covers>
                        <div class=featured-img>
                            <%= image_tag('products/manhole.jpg', alt: 'C.I Manhole Cover', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Swastika</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Binayaka</span></div>
                        </div>
                        <h3>C.I Manhole Cover</h3>
                    </a>
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 work-space clearfix">
                    <a title="Hand Dryer" href=/hand-dryer>
                        <div class=featured-img>
                            <%= image_tag('products/hand-dryer.jpg', alt: 'Hand Dryer', lazy: true) %>
                        </div>
                        <div class=image-hover>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Cera</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prayag</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Imported</span></div>
                        </div>
                        <h3>Hand Dryer</h3>
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>
<section id="description">
    <div class="container-fluid notes">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 notes-bg">
                <div class="container">
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <p itemprop="description">We supply <strong>Bathtub</strong>, <strong>Sanitaryware</strong>, <strong>Bathroom Fittings</strong>, <strong>PVC|SWR|CPVC|UPVC|G.I|C.I|HDPE|PPR pipes and Fittings</strong>, <strong>Bathroom Accessories</strong>, <strong>Kitchen Fittings</strong>, <strong>Water Tanks</strong>, <strong>Pumps</strong>, <strong>Water Tubes</strong>, <strong>Faucets</strong>, <strong>Mirror Cabinets</strong> in <strong><i>Visakhapatnam</i></strong></p>
                    </div>
                    <div class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-12"><a href=/about-us target=_blank class="btn button-custom btn-custom-one read-more">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id=contact>
    <div class=container>
        <div class="row header">
            <div class="col-md-12 text-center">
                <h2>FEEL FREE TO <strong>CONTACT US</strong></h2>
                <div class=line>
                    <hr/>
                </div>
            </div>
        </div>
        <div class=row>
            <div class="col-md-6 col-sm-12 col-xs-12 contact-form">
                <form role=form id=contactForm novalidate>
                    <p>We would be glad to have feedback from you. Drop us a line, whether it is a comment, a question, a work proposition or just a hello. You can use either the form below or the contact details given below.</p>
                    <div class=form-group>
                        <input type=text class="form-control form-effect" id=name placeholder=Name>
                    </div>
                    <div class=form-group>
                        <input type=email class="form-control form-effect" id=email placeholder=Email>
                    </div>
                    <div class=form-group>
                        <input type=phone class="form-control form-effect" id=phone placeholder="Phone Number">
                    </div>
                    <div class=form-group>
                        <textarea type=textarea class="form-control form-effect" id=message placeholder=Message></textarea>
                    </div>
                    <div id=success></div>
                    <div class="g-recaptcha" id="captcha" data-sitekey="6Lf1YyQTAAAAACx8qgdU_7HkZga7g__8dxwC6C_9"></div>
                    <button type=submit id=submit class="btn btn-default btn-sub">Submit</button>
                </form>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                <div id=map-canvas></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h4 class="classic-title"><span>Working Hours</span></h4>
                <p>
                    <meta itemprop="openingHours" content="Mo-Sa 10:00-20:30">Monday &ndash; Saturday :- 10am to 8:30pm</p>
                <p>Sunday :- Closed</p><a href="/sitemap.xml.gz">Sitemap</a></div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h4 class="classic-title"><span>Address</span></h4>
                <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><i class="fa fa-map-marker"></i><span itemprop="streetAddress">28-9-32</span>, <span itemprop="addressLocality">Suryabagh</span>, Opp. Port Hotel, <span itemprop="addressRegion">Visakhapatnam</span>, India-<span itemprop="postalCode">530003</span></p>
                <p><i class="fa fa-phone"></i><a itemprop="telephone" href="tel:+91-9849156450" content="+919849156450">+91-9849156450</a> | <a itemprop="telephone" href="tel:+91-7506944722" content="+917506944722">+91-7506944722</a></p>
                <p><i class="fa fa-envelope"></i><a href="mailto:&#x73;&#x75;&#x72;&#x61;&#x6E;&#x61;&#x73;&#x61;&#x6E;&#x69;&#x74;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x73;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;"><span itemprop="email">&#x73;&#x75;&#x72;&#x61;&#x6E;&#x61;&#x73;&#x61;&#x6E;&#x69;&#x74;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x73;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;</span></a></p>
            </div>
        </div>
    </div>
</section>