<table class="table">
	<caption>List of All Reports You Have Generated</caption>
	<thead class="thead-default">
		<tr>
			<th>Quote No</th>
			<th>Project Site</th>
			<th>Edit Report</th>
			<th>Show Report</th>
			<th>Delete Report</th>
		</tr>
	</thead>
	<tbody>
		<% @reports.each do |report| %>
			<tr>
				<td><%= report.quote_no %></td>
				<td><%= report.project_site %></td>
				<td><a href="/reports/new?data=<%= report.report_code %>" target="_blank">Edit Report</a></td>
				<td><a href="/reports/show?data=<%= report.report_code %>" target="_blank">Show Report</a></td>
				<td><%= link_to 'Destroy', report_path(report),
					method: :delete,
					data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
