<% @page_title = "Report Generation" %>
<div class="Login_Form container">
    <h1>Generate Report</h1>
    <% if flash[:alert] %>
        <div id="alert">
            <%= flash[:alert] %> 
        </div>
    <% end %>
    <form id="quotation-rows">
        <h5>Add Company Details</h5>
        <div>
            <label for="quotation">Quotation:</label>
            <input type="text" name="quotation" id="quotation" value="<%= @data['quotation'] %>">
        </div>
        <br>
        <div>
            <label for="project_site">Project Site:</label>
            <input type="text" name="project_site" id="project_site" value="<%= @data['site'] %>">
        </div>
        <br>
        <div>
            <label for="reference">Reference:</label>
            <input type="text" name="reference" id="reference" value="<%= @data['reference'] %>">
        </div>
        <br>
        <div id="company_details_wrapper">
            <% if @data['details'].present? %>
                <% @data['details'].each do |x| %>
                    <div class="company_details">
                        <input type="text" name="company_name" width="200" placeholder="Company Details" value="<%= x %>"/>
                    </div>
                <% end %>
            <% else %>
                
            <% end %>
        </div>
        <br>
        <input class="btn btn-default" type="button" id="add-detail" name="add-detail" value="Add Detail" />
        <input class="btn btn-default" type="button" id="remove-detail" name="remove-detail" value="Remove Detail" />
        <table class="table">
            <thead>
                <tr>
                <th>Item Description</th>
                <th>Make</th>
                <th>Quantity</th>
                <th>UOM</th>
                <th>Unit Price</th>
                </tr>
            </thead>
            <tbody id="item-container">
            <% if @data['items'].present? %>
                <% @data['items'].each do |x| %>
                    <tr class="item-row">
                        <td>
                            <input type="text" name="comment" placeholder="Item Description" value="<%= x['comment'] %>"/>
                        </td>
                        <td>
                            <input type="text" step="1" name="make" width="1" placeholder="Make" required value="<%= x['make'] %>"/>
                        </td>
                        <td>
                            <input type="number" step="1" name="quantity" width="1" placeholder="Quantity" required value="<%= x['quantity'] %>"/>
                        </td>
                        <td>
                            <select name="unit_measurement" required placeholder="Unit Of Measurement">
                                <option value="Nos">No</option>
                                <option value="Box">Box</option>
                                <option value="Feet">Feet</option>
                                <option value="Kg">Kg</option>
                                <option value="Mtr">Mtr</option>
                                <option value="Bag">Bag</option>
                            </select>
                        </td>
                        <td><input type="number" step="1" name="unit_price" width="1" placeholder="Unit Price" required value="<%= x['unit_price'] %>"/></td>
                    </tr>
                <% end %>
            <% else %>
                <tr class="item-row">
                    <td>
                        <input type="text" name="comment" placeholder="Item Description" />
                    </td>
                    <td>
                        <input type="text" step="1" value="--" name="make" width="1" placeholder="Make" required />
                    </td>
                    <td>
                        <input type="number" step="1" name="quantity" width="1" placeholder="Quantity" required />
                    </td>
                    <td>
                        <select name="unit_measurement" required placeholder="Unit Of Measurement">
                            <option value="Nos">No</option>
                            <option value="Box">Box</option>
                            <option value="Feet">Feet</option>
                            <option value="Kg">Kg</option>
                            <option value="Mtr">Mtr</option>
                            <option value="Bag">Bag</option>
                        </select>
                    </td>
                    <td><input type="number" step="1" name="unit_price" width="1" placeholder="Unit Price" required /></td>
                </tr>
            <% end %>
            </tbody>
        </table>

        <input class="btn btn-default" type="button" id="add-item" name="add-item" value="Add Item" />
        <input class="btn btn-default" type="button" id="remove-item" name="remove-item" value="Remove Item" />
        <hr>
        <div>
            <label for="show_pandf">Show P & F?</label>
            <input type="checkbox" name="show_pandf" id="show_pandf" value="<%= @data['show_pandf'] %>">
            <label for="pandf">Packing And Forwarding:</label>
            <input type="text" name="pandf" id="pandf" value="<%= @data['pandf'] %>">
        </div>
        <hr>
        <div>
            <label for="show_tax">Show Tax?</label>
            <input type="checkbox" name="show_tax" id="show_tax" value="<%= @data['show_tax'] %>">
            <select name="tax_value" id="tax_value" placeholder="Tax Value">
                <option value="0">0%</option>
                <option value="0.05">5%</option>
                <option value="0.145">14.5%</option>
            </select>
        </div>
        <hr>
        <div>
            <div>
                <label for="price">Prices:</label>
                <input type="text" name="price" id="price"value="<%= @data['terms']['price'] %>">
            </div>
            <div>
                <label for="tax">Taxes:</label>
                <input type="text" name="tax" id="tax"value="<%= @data['terms']['tax'] %>">
            </div>
            <div>
                <label for="delivery">Delivery:</label>
                <input type="text" name="delivery" id="delivery"value="<%= @data['terms']['delivery'] %>">
            </div>
            <div>
                <label for="validity">Validity:</label>
                <input type="text" name="validity" id="validity"value="<%= @data['terms']['validity'] %>">
            </div>
            <div>
                <label for="payment">Payment:</label>
                <input type="text" name="payment" id="payment"value="<%= @data['terms']['payment'] %>">
            </div>
        </div>
        <br>
        <hr>
        <input type="button" id="create-quotation" name="create-quotation" value="Create Quotation">
    </form>​
</div>