<div class="report" style="font-size: 16px;">
  <img src=/assets/surana_head.png alt="Surana Header" style="width:100%;" class="company_logo" itemprop="logo">
  <div>
    <div class="text-center clearfix">
    <% if @data['quotation'].present? %>
      <% if @data['is_performa'].present? %>
        <strong style="text-decoration: underline;"><%= @data['quotation'] %></strong>
      <% else %>
        <strong style="text-decoration: underline;">Quotation</strong><strong>: <%= @data['quotation'] %></strong>
      <% end %>
    <% end %>
    <span style="float: right;">Date: <%= Time.now.strftime("%d/%m/%y") %></span></div>
    <% if @data['details'] && @data['details'].length > 0 %>
        <% if @data['is_performa'].present? %>
          <h5>
            M/S,
          </h5>
        <% else %>
          <h4>
            To,
          </h4>
        <% end %>
      </h4>
      <% @data['details'].each do |x| %>
        <h5 style="margin: 2px 0; font-size: 16px;">
          &nbsp;<%= x %>
        </h5>
      <% end %>
    <% end %>
    <% if @data['site'].present? %>
      <h5 style="margin: 2px 0; font-size: 16px;">
        <span style="text-decoration: underline;">Project Site:</span> <%= @data['site'] %>
      </h5>
    <% end %>
    <br>
    <% if @data['is_performa'].present? %>
    <% else %>
      <div>Dear Sir,</div>
      <% if @data['reference'].present? %>
        <div style="font-size: 16px; margin: 0 70px 10px;"><strong style="text-decoration: underline;">Reference:</strong><span>  <%= @data['reference'] %></span></div>
      <% end %>
      <div style="margin-left:30px">We are pleased to quote as below:</div>
      <br>
    <% end %>
    <% if @data['items'] && @data['items'].length > 0 %>
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th style="text-align:center;text-decoration:underline;">S.No</th>
            <th style="text-align:center;text-decoration:underline;width: 45%;" id="item">Item Description</th>
            <th style="text-align:center;text-decoration:underline;">Make</th>
            <th style="text-align:center;text-decoration:underline;">Qty</th>
            <th style="text-align:center;text-decoration:underline;">UOM</th>
            <th style="text-align:center;text-decoration:underline;">Unit Price</th>
            <th style="text-align:center;text-decoration:underline;">Total</th>
          </tr>
        </thead>
        <tbody>
          <% grand_total = 0 %>
          <% final_v1 = 0 %>
          <% total = 0 %>
          <% @data['items'].each_with_index do |k,v| %>
            <% total = k['quantity'].to_i*k['unit_price'].to_i %>
            <% grand_total = grand_total + total %>
            <% final_v1 = grand_total %>
            <tr>
              <td class="text-center"><%= v.to_i + 1 %> )</td>
              <td><%= k['comment'] %></td>
              <td class="text-center"><%= k['make'] %></td>
              <td class="text-center"><%= k['quantity'] %></td>
              <td class="text-center"><%= k['unit_measurement'] %></td>
              <td class="text-center"><%= k['unit_price'] %></td>
              <td class="text-center"><%= total.to_s.gsub(/(\d+?)(?=(\d\d)+(\d)(?!\d))(\.\d+)?/, "\\1,") %></td>
            </tr>
          <% end %>
          <% if @data['show_pandf'].present? || @data['show_tax'].present? %>
            <tr>
              <td class="text-right" colspan="6"><strong>Total</strong></td>
              <td class="text-center"><strong><%= grand_total.to_s.gsub(/(\d+?)(?=(\d\d)+(\d)(?!\d))(\.\d+)?/, "\\1,") %></strong></td>
            </tr>
            <% if @data['show_tax'].present? %>
              <tr>
                <td class="text-right" colspan="6"><strong>Taxes</strong></td>
                <td class="text-center"><strong><%= (grand_total*@data['tax_value'].to_f).round.to_s.gsub(/(\d+?)(?=(\d\d)+(\d)(?!\d))(\.\d+)?/, "\\1,") %></strong></td>
              </tr>
            <% end %>
            <% if @data['show_pandf'].present? %>
              <tr>
                <td class="text-right" colspan="6"><strong>Packing And Forwarding:</strong></td>
                <td class="text-center"><strong><%= @data['pandf'].to_i.to_s.gsub(/(\d+?)(?=(\d\d)+(\d)(?!\d))(\.\d+)?/, "\\1,") %></strong></td>
              </tr>
            <% end %>
            <% final_v1 = @data['show_tax'].present? ? (grand_total + (grand_total*@data['tax_value'].to_f).round) : grand_total %>
            <% final_v1 += @data['show_pandf'].present? ? @data['pandf'].to_i : 0 %>
            <tr>
              <td class="text-right" colspan="6"><strong>Grand Total</strong></td>
              <td class="text-center"><strong><%= final_v1.to_s.gsub(/(\d+?)(?=(\d\d)+(\d)(?!\d))(\.\d+)?/, "\\1,") %></strong></td>
            </tr>
          <% else %>
            <tr>
              <td class="text-right" colspan="6"><strong>Grand Total</strong></td>
              <td class="text-center"><strong><%= grand_total.to_s.gsub(/(\d+?)(?=(\d\d)+(\d)(?!\d))(\.\d+)?/, "\\1,") %></strong></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <div><strong style="text-decoration: underline;">Amount In Words</strong>: <%= final_v1.to_i.to_words.humanize %> only.</div>
    <% if @data['show_note'].present? %>
      <div><strong style="text-decoration: underline;">Note:</strong> <%= @data['note'] %></div>
    <% end %>
    <br>
    <div><strong style="text-decoration: underline;">Terms and Conditions</strong><strong>:</strong></div>
    <ol style="padding-left: 20px;">
      <% if @data['terms']['price'].present? %>
        <li style="list-style-type: disc;"><strong>Prices:-</strong> <%= @data['terms']['price'] %></li>
      <% end %>
      <% if @data['terms']['tax'].present? %>
        <li style="list-style-type: disc;"><strong>Taxes:-</strong> <%= @data['terms']['tax'] %></li>
      <% end %>
      <% if @data['terms']['delivery'].present? %>
        <li style="list-style-type: disc;"><strong>Delivery:-</strong> <%= @data['terms']['delivery'] %></li>
      <% end %>
      <% if @data['terms']['validity'].present? %>
        <li style="list-style-type: disc;"><strong>Validity:-</strong> <%= @data['terms']['validity'] %></li>
      <% end %>
      <% if @data['terms']['payment'].present? %>
        <li style="list-style-type: disc;"><strong>Payment:-</strong> <%= @data['terms']['payment'] %></li>
      <% end %>
    </ol>
    <div class="text-right">Yours Faithfully,</div>
    <div class="text-right">Gaurav Surana</div>
    <div class="text-right">+91-9849156450</div>
    <br>
    <div class="text-center">
      <h5 class="divFooter">
      This is a system generated 
      <%= @data['is_performa'].present? ? 'performa' : 'quotation' %>, no signature is required.
      </h5>
    </div>
  </div>
</div>