<div class="report" style="font-size: 16px;">
  <img src=/assets/surana_head.png alt="Surana Header" style="width:100%;" class="company_logo" itemprop="logo">
  <div>
    <div class="text-center clearfix">
    <% if @data['quotation'].present? %>
      <b style="text-decoration: underline;">Quotation</b><b>: <%= @data['quotation'] %></b>
    <% end %>
    <span style="float: right;">Date: <%= Time.now.strftime("%D") %></span></div>
    <% if @data['details'] && @data['details'].length > 0 %>
      <h4>
        To,
      </h4>
      <% @data['details'].each do |x| %>
        <h5 style="margin: 2px 0; font-size: 16px;">
          <%= x %>
        </h5>
      <% end %>
    <% end %>
    <% if @data['site'].present? %>
      <h5 style="margin: 2px 0; font-size: 16px;">
        <span style="text-decoration: underline;">Project Site:</span> <%= @data['site'] %>
      </h5>
    <% end %>
    <br>
    <div>Dear Sir,</div>
    <% if @data['reference'].present? %>
      <div style="font-size: 16px; margin: 0 70px 10px;"><b style="text-decoration: underline;">Reference:</b><span>  <%= @data['reference'] %></span></div>
    <% end %>
    <div style="margin-left:30px">We are pleased to quote as below:</div>
    <br>
    <% if @data['items'] && @data['items'].length > 0 %>
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th style="text-align:center;text-decoration:underline;">S.No</th>
            <th style="text-align:center;text-decoration:underline;width: 45%;" id="item">Item Description</th>
            <th style="text-align:center;text-decoration:underline;">Make</th>
            <th style="text-align:center;text-decoration:underline;">Qty</th>
            <th style="text-align:center;text-decoration:underline;">UOM</th>
            <th style="text-align:center;text-decoration:underline;">Unit Price</th>
            <th style="text-align:center;text-decoration:underline;">Total</th>
          </tr>
        </thead>
        <tbody>
          <% grand_total = 0 %>
          <% total = 0 %>
          <% @data['items'].each_with_index do |k,v| %>
            <% total = k['quantity'].to_i*k['unit_price'].to_i %>
            <% grand_total = grand_total + total %>
            <tr>
              <td class="text-center"><%= v.to_i + 1 %> )</td>
              <td><%= k['comment'] %></td>
              <td class="text-center"><%= k['make'] %></td>
              <td class="text-center"><%= k['quantity'] %></td>
              <td class="text-center"><%= k['unit_measurement'] %></td>
              <td class="text-center"><%= k['unit_price'] %></td>
              <td class="text-center"><%= total %></td>
            </tr>
          <% end %>
          <% if @data['show_pandf'].present? || @data['show_tax'].present? %>
            <tr>
              <td class="text-right" colspan="6"><b>Total</b></td>
              <td class="text-center"><b><%= grand_total %></b></td>
            </tr>
            <% if @data['show_tax'].present? %>
              <tr>
                <td class="text-right" colspan="6"><b>Taxes</b></td>
                <td class="text-center"><b><%= (grand_total*@data['tax_value'].to_f).round %></b></td>
              </tr>
            <% end %>
            <% if @data['show_pandf'].present? %>
              <tr>
                <td class="text-right" colspan="6"><b>Packing And Forwarding:</b></td>
                <td class="text-center"><b><%= @data['pandf'].to_i %></b></td>
              </tr>
            <% end %>
            <% final_v1 = @data['show_tax'].present? ? (grand_total + (grand_total*@data['tax_value'].to_f).round + @data['pandf'].to_i) : (grand_total + @data['pandf'].to_i) %>
            <tr>
              <td class="text-right" colspan="6"><b>Grand Total</b></td>
              <td class="text-center"><b><%= final_v1 %></b></td>
            </tr>
          <% else %>
            <tr>
              <td class="text-right" colspan="6"><b>Grand Total</b></td>
              <td class="text-center"><b><%= grand_total %></b></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <br>
    <br>
    <div><b style="text-decoration: underline;">Terms and Conditions</b><b>:</b></div>
    <ol style="padding-left: 20px;">
      <% if @data['terms']['price'].present? %>
        <li style="list-style-type: disc;"><b>Prices:-</b> <%= @data['terms']['price'] %></li>
      <% end %>
      <% if @data['terms']['tax'].present? %>
        <li style="list-style-type: disc;"><b>Taxes:-</b> <%= @data['terms']['tax'] %></li>
      <% end %>
      <% if @data['terms']['delivery'].present? %>
        <li style="list-style-type: disc;"><b>Delivery:-</b> <%= @data['terms']['delivery'] %></li>
      <% end %>
      <% if @data['terms']['validity'].present? %>
        <li style="list-style-type: disc;"><b>Validity:-</b> <%= @data['terms']['validity'] %></li>
      <% end %>
      <% if @data['terms']['payment'].present? %>
        <li style="list-style-type: disc;"><b>Payment:-</b> <%= @data['terms']['payment'] %></li>
      <% end %>
    </ol>
    <div class="text-right">Yours Faithfully,</div>
    <div class="text-right">Gaurav Surana</div>
    <div class="text-right">+91-9849156450</div>
  </div>
</div>