<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'categories', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      .table-striped > tbody > tr:nth-of-type(odd){
        background-color: #f9f9f9!important;
      }
      .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
        border: 3px solid #dddddd!important;
      }
      @media print {
        @page { margin: 0; }
        body { margin: 1.6cm; }
        .table-striped > tbody > tr:nth-of-type(odd){
          background-color: #f9f9f9!important;
        }
        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
          border: 3px solid #dddddd!important;
        }
      }  
    </style>
    <title>Report Generation</title>
    <%= csrf_meta_tags %>
  </head>

  <body class="container">
    <% if @current_user %>
      <div class="text-right">
        <%= link_to "Log out", logout_path, method: :delete %>
      </div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'reports', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      $(function(){
        var $addDetail = $('#add-detail'),
          $removeDetail = $('#remove-detail'),
          $detailContainer = $('#company_details_wrapper'),
          $detail = $('.company_details').clone();

        $addDetail.click(function() {
          $detailContainer.append($detail.clone());
        });

        $removeDetail.click(function(){
          if($('.company_details').length > 1){
            $('.company_details').last().remove();
          }
        });

        var $addItem = $('#add-item'),
          $removeItem = $('#remove-item'),
          $itemContainer = $('#item-container'),
          $item = $('.item-row').clone();

        $addItem.click(function() {
          $itemContainer.append($item.clone());
        });

        $removeItem.click(function(){
          if($('.item-row').length > 1){
            $('.item-row').last().remove();
          }
        });

        function getFormData(){
          data = {}
          data.items = []
          $('.item-row').each(function(){
            var a = $(this).find('input,select');
            var temp = {};
            if(a[0].value == '' || a[1].value == '' || a[2].value == '' || a[3].value == ''){
              return true;
            }
            for(var i = 0; i < a.length; i++){
              temp[a[i].name] = a[i].value;
            }
            data.items.push(temp);
          });
          data.details = []
          $('.company_details input').each(function(){
            data.details.push($(this)[0].value);
          });
          data.quotation = $('#quotation').val()
          data.site = $('#project_site').val()
          data.reference = $('#reference').val()
          data.pandf = $('#pandf').val()
          data.terms = {}
          data.terms.price = $('#price').val()
          data.terms.tax = $('#tax').val()
          data.terms.delivery = $('#delivery').val()
          data.terms.validity = $('#validity').val()
          data.terms.payment = $('#payment').val()
          return data;
        }
        $('#create-quotation').click(function(){
          var query = window.btoa(unescape(encodeURIComponent(JSON.stringify(getFormData()))));
          window.open("/reports/show?data="+query, "_blank");
        })
      })
    </script>
  </body>
</html>